@charset "UTF-8";
.preview__bg {
  min-height: 100%;
  min-width: 1024px;
  /* Устанавливаем коэффициент пропорциональности */
  width: 100%;
  height: auto;
  /* Устанавливаем позиционирование */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header {
  min-height: 3.5vw;
  position: relative;
  min-height: 3.5vw;
  z-index: 2;
}
.header__bg {
  position: relative;
}
.header__bg-img {
  min-height: 100%;
  position: absolute;
  min-width: 381px;
  /* Устанавливаем коэффициент пропорциональности */
  width: 100%;
  height: auto;
  /* Устанавливаем позиционирование */
  top: 0;
  left: 0;
}
.main {
  display: table-cell;
  vertical-align: middle;
  width: 60%;
}

.sidebar {
  display: table-cell;
  vertical-align: middle;
  background: url("../images/Background/sidebar-bg.png") repeat center center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  width: 40%;
}
.sidebar__container {
  padding-left: 25px;
  padding-right: 85px;
  width: 55%;
  margin: 0 auto;
  height: 100%;
  margin: 0 auto;
}
.sidebar__container-inner {
  position: relative;
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  width: 95%;
  height: 100%;
}

.account {
  left: 50%;
  display: inline;
  width: 90%;
  margin-top: 40px;
  z-index: 2;
  text-align: center;
}
.account__label {
  font-family: "Palatino Linotype";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 80.41%;
}
.account__captcha {
  text-align: left;
  color: #211612;
  padding-left: 5px;
}
.account__captcha-question {
  font-weight: 400;
  font-size: 13px;
}
.account__captcha-example {
  font-weight: 700;
  font-size: 13px;
}
.account__select-server {
  width: 100% !important;
  min-height: 35px !important;
  cursor: pointer;
}
.account__select-server option {
  font-weight: 700;
  font-size: 13px;
  line-height: 161.41%;
  color: white;
  background-color: #201511;
}
.account__select-server option:checked {
  background-color: #170c09;
  color: white;
  text-shadow: red 2px 0px;
}
.account__signin-btn {
  margin-top: 10px;
}
.account__forgot {
  font-weight: 700;
  font-size: 11px;
  line-height: 80.41%;
  text-align: center;
  color: #251600;
}
.account__registration {
  font-weight: 400;
  font-size: 11px;
  line-height: 80.41%;
  color: #251600;
  text-align: center;
}

.info__bg {
  font-family: "Palatino Linotype";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 80.41%;
  text-align: center;
  padding: 22px 5px;
  background: url("../images/Background/ingo-bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.input__style {
  color: rgba(255, 255, 255, 0.5);
  width: 92%;
  min-height: 22px;
  font-weight: 400;
  font-size: 10px;
  padding: 5px 5px;
  margin-top: 10px;
  background: url("../images/Background/input-bg.png") repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.button {
  border: none;
  border-top: none;
  text-decoration: none;
  padding: 15px 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 10px;
  line-height: 80.41%;
  color: #f5f5f5;
  background: url("../images/Background/button-bg.png") repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.server {
  display: inline;
  text-align: center;
}
.server__item {
  width: 83%;
  padding-left: 20px;
  padding-top: 20px;
}
.server__info {
  width: 90%;
  padding-left: 10px;
  text-align: justify;
}
.server__name {
  color: #2a1719;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-shadow: 1px 0 #920404;
  /* identical to box height */
  letter-spacing: 0.025em;
}
.server__mode {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.025em;
  color: #920404;
}
.server__online {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.025em;
  color: #2a1719;
  float: right;
}
.server__line {
  position: relative;
  display: table;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.server__line::after {
  content: "";
  top: -6px;
  right: -10px;
  min-height: 17px;
  min-width: 14px;
  position: absolute;
  transform: translate(-50% -50%);
  background: url("../images/right-decor.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
  z-index: 2;
}
.server__line::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: -6px;
  left: -10px;
  min-height: 17px;
  min-width: 14px;
  background: url("../images/left-decor.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
.server__line-fill {
  min-height: 5px;
  max-width: 230px;
  background: linear-gradient(to right, #18b015, #4aff46);
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient( startColorStr="#18b015", endColorStr="#4aff46", GradientType=1 );
}
.server__line .fill-1 {
  width: 100%;
}
.server__line .fill-2 {
  width: 80%;
}
.server__line .fill-3 {
  width: 70%;
}
.server__line .fill-4 {
  width: 44%;
}
.server__line .fill-5 {
  width: 100%;
  background: linear-gradient(to right, #be0000, #ff0000);
  -ms-filter: progid:DXImageTransform.Microsoft.Gradient( startColorStr="#be0000", endColorStr="#ff0000", GradientType=1 );
}
.server__capacity {
  padding-top: 15px;
  text-align: center;
}
.server__all-online {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.025em;
  color: #211614;
}
.server__online-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: 0.025em;
  color: #920404;
}
.server__today-online {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.025em;
  color: #211614;
}

.market {
  text-align: center;
  margin-bottom: 40px;
}
.market__items {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.7);
}
.market__item:last-child {
  margin-bottom: 35px;
}
.market__item-name {
  text-align: left;
  padding-left: 5px;
}
.market__signIn-link {
  margin-top: 20px;
  font-weight: 700;
  font-size: 10px;
  line-height: 80.41%;
  /* identical to box height, or 8px */
  text-align: center;
  color: #f5f5f5;
}

@media screen and (max-width: 1300px) {
  .market .button {
    padding: 15px 30px;
  }
}
.table {
  table-layout: auto;
  width: 100%;
  text-align: center;
}
.table__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #2a1719;
}
.table tr {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.table__players-info {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 1px 0px #920404;
  color: #2a1719;
  min-height: 30px;
  position: relative;
  margin-bottom: 15px;
}
.table__players-info::after {
  content: "";
  left: 0;
  top: 15px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../images/table-line.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
.table__player-name {
  padding: 10px;
}
@media screen and (max-width: 1440px) {
  .table__name {
    font-size: 10px;
    line-height: 13px;
  }
}
@media screen and (max-width: 1300px) {
  .table__name {
    font-size: 8px;
    line-height: 13px;
  }
}
.events__info {
  table-layout: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 1px 0px #920404;
  color: #2a1719;
}
.events__name {
  table-layout: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 1px 0px #920404;
  color: #2a1719;
}
.events__space {
  width: 50px;
}
.events__start-time {
  table-layout: auto;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 1px 0px #920404;
  color: #2a1719;
}
.events__data {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  color: #2a1719;
}
.events__data::after {
  content: "";
  left: 0;
  top: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../images/table-line.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
@media screen and (max-width: 1300px) {
  .events__data::after {
    top: 18px;
  }
}
:root {
  --accent: orange;
  --text: #333;
  --regular-text: 16px;
  --lineheight: 1.65;
  --userfont: roboto-st, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* GENERAL CSS SETTINGS */
input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

a {
  text-decoration: none;
}

body {
  font-family: "Palatino Linotype";
  font-size: 16px;
  color: #fff;
  min-width: 320px;
}

html {
  background: url("../images/Background/mainBg.png") repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.container {
  min-width: 771px;
  height: 100%;
  margin-top: 45vh;
  height: auto;
  padding-left: 11.1%;
  padding-right: 14.3%;
  height: 100vh;
}
.container__inner {
  min-height: 100%;
  padding-bottom: 5%;
  min-width: 681px;
  margin-right: -42%;
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  position: relative;
}
.container__inner::after {
  content: "";
  left: 0;
  top: 10px;
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
  background: url("../images/Background/first-main-bg.png") repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}
.container__content {
  display: table;
  width: 100%;
  padding-left: 40px;
}

/* MIXINS *//*# sourceMappingURL=main.css.map */