.info__bg {
    font-family: 'Palatino Linotype';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 80.41%;
    text-align: center;
    padding: 22px 5px;
    background: url('../images/Background/ingo-bg.png') repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}
.input__style {
    color: rgba(255, 255, 255, 0.5);
    width: 92%;
    min-height: 22px;
    font-weight: 400;
    font-size: 10px;
    padding: 5px 5px;
    margin-top: 10px;
    background: url('../images/Background/input-bg.png') repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
}

.button {
    border: none;
    border-top: none;
    text-decoration: none;
    padding: 15px 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    line-height: 80.41%;
    color: #f5f5f5;
    background: url('../images/Background/button-bg.png') repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
