.header {
    min-height: 3.5vw;
    position: relative;
    min-height: 3.5vw;
    z-index: 2;
    &__bg {
        position: relative;
        // margin-right: 10%;
    }

    &__bg-img {
        min-height: 100%;
        position: absolute;
        min-width: 381px;

        /* Устанавливаем коэффициент пропорциональности */

        width: 100%;

        height: auto;

        /* Устанавливаем позиционирование */

        top: 0;
        left: 0;
    }
    &__container {
        table-layout: auto;
        text-align: center;
        position: relative;
        width: 100%;
        padding: 3px 35px;
    }
    &__block {
    }

    &__nav {
        width: 100px;
        height: 100%;

        padding-top: 10px;
        transition: background 0.2s ease;
        &:hover {
            position: relative;
            z-index: 3;
            background: url('../images/Background/hover-header-bg.png') no-repeat center top;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 100% 50px;
        }
    }

    &__nav-link {
        font-weight: 400;
        font-size: 22px;
        line-height: 30px;
        /* identical to box height */
        // padding: 10px;
        color: #ffffff;
        padding: 9px 15px;
        // &:hover {
        //     font-weight: 700;
        // }
    }
}

@media screen and (max-width: 1270px) {
    .header__nav-link {
        font-size: 15px;
    }
}
