.header {
  min-height: 3.5vw;
  position: relative;
  min-height: 3.5vw;
  z-index: 2;
  &__bg {
    position: relative;
    // margin-right: 10%;
  }

  &__bg-img {
    min-height: 100%;
    position: absolute;
    min-width: 381px;

    /* Устанавливаем коэффициент пропорциональности */

    width: 100%;

    height: auto;

    /* Устанавливаем позиционирование */

    top: 0;
    left: 0;
  }
  &__container {
  }
}
