.preview {
    &__bg {
        min-height: 100%;

        min-width: 1024px;

        /* Устанавливаем коэффициент пропорциональности */

        width: 100%;

        height: auto;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
