.sidebar {
    display: table-cell;
    vertical-align: middle;

    background: url('../images/Background/sidebar-bg.png') repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;

    position: absolute;

    width: 40%;
    padding-bottom: 60px;
    &__container {
        padding-left: 10px;
        padding-right: 85px;
        width: 55%;
        margin: 0 auto;
        height: 100%;
        margin: 0 auto;
        &-inner {
            position: relative;
            margin: 0 auto;
            position: relative;
            margin: 0 auto;
            width: 95%;
            height: 100%;
            z-index: 1;
        }
    }
}
